<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.ricardosbarbosa.musicalstructure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NowPlayingActivity"
            android:label="@string/title_activity_now_playing"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArtistsActivity"
            android:label="@string/title_activity_artists"
            android:parentActivityName=".NowPlayingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ricardosbarbosa.musicalstructure.NowPlayingActivity" />
        </activity>
        <activity
            android:name=".AlbunsActivity"
            android:label="@string/title_activity_albuns"
            android:parentActivityName=".NowPlayingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ricardosbarbosa.musicalstructure.NowPlayingActivity" />
        </activity>
        <activity
            android:name=".GenresActivity"
            android:label="@string/title_activity_genres"
            android:parentActivityName=".NowPlayingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ricardosbarbosa.musicalstructure.NowPlayingActivity" />
        </activity>
        <activity
            android:name=".PlayListActivity"
            android:label="@string/title_activity_play_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SongsActivity"
            android:label="@string/title_activity_songs"
            android:parentActivityName=".PlayListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ricardosbarbosa.musicalstructure.PlayListActivity" />
        </activity>
        <activity
            android:name=".PaymentActivity"
            android:label="@string/title_activity_payment"
            android:parentActivityName=".NowPlayingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ricardosbarbosa.musicalstructure.NowPlayingActivity" />
        </activity>
    </application>

</manifest>